.dep{
    position: absolute;
    bottom: 500px;
    margin: 0 20%;
    /* background: rgb(121, 121, 121); */
}
.dep table{
    color: white;
    width: 800px;
}
.dep h2{
    color: white;
}
.contato{
    position: relative;
    bottom: 50px;
}
.dep th{
    width: 200px;
    background: rgb(121, 121, 121);
}
.dep td{
    background: rgb(255, 255, 255); 
    font-family: 'Courier New', Courier, monospace;
    color: black;   
}
.deps{
    position: absolute;
    bottom: 500px;
    margin: 0 20%;
    /* background: rgb(121, 121, 121); */
}
.deps table{
    color: white;
    width: 800px;
}
.deps th{
    width: 200px;
    background: rgb(121, 121, 121);
}
.deps td{
    background: rgb(255, 255, 255); 
    font-family: 'Courier New', Courier, monospace;
    color: black;   
}
.deps h2{
    color: white;
}