<section class="contato">
    <h2>Contato</h2>
    <div class="contato_content">
        <p><img src="img/telefone.png" height="20px" width="20px" alt=""> Tel: (11) 7454-9665</p>
        <p><img src="img/email.png" height="20px" width="20px" alt=""> E-mail: pontodigital@outlook.com</p>
        <p><img src="img/location.png" height="25px" width="20px" alt=""> Endereço: Avenida Paulista,nº21 - SP</p>
    </div>
</section>
</html>