   <section class="formulario_container" >
            <h1>Administrador</h1>
        <div class="formulario_content">
        <form  method="Post" id="form" action='@Url.Action("AdministradorLogin","Administrador")'>
            
                <input type="text" name="email" placeholder="Digite Seu E-mail" maxlength="30" required>
    
                <input type="password" name="senha" placeholder="Digite sua senha" maxlength="30" required>
                <input type="submit" value="Entrar" class="enviar" >

                </div>

                
</form>
    </section>